/*Nav Styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
nav ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    
    
}
nav ul{
    display: flex;
    align-items: center;
    

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.text-black2{
    color: #474747 ;
}
.text-r{
    color: #FD6E0A;
}
nav h3{
    font-weight: 800px;
    font-size: 45px;

}

.open-sans-style {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;

}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/*Banner Styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-size: 45p;
    font-weight: 600;

}
.banner-title{
    font-weight: bold;
    font-size: 45px;
}
.zubair{
    width: 580px;
    height: ;680px;
}