/*Nav Styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
   

}
nav ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    
    
}
nav ul{
    display: flex;
    align-items: center;
    

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.text-black2{
    color: #474747 ;
}
.text-r{
    color: #FD6E0A;
}
nav h3{
    font-weight: 800px;
    font-size: 45px;

}

.open-sans-style {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;

}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
  
    ;
}
/*shared*/
.secondary-bg{
    background-color: #FFF8F3;
}
main{
    max-width: 1140px;
    margin: 0 auto;

}
.text-center{
    text-align: center;
}
/*Banner Styles*/
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    color: #757575;
    font-size: 18px;
    
}
/*Banner Styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-size: 45p;
    font-weight: 600;

}
.banner-title{
    font-weight: bold;
    font-size: 45px;
}
.zubair{
    width: 580px;
    height: ;680px;
}
/*About styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
    margin-top:  130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600px;
}
.item-title{
    font-weight: bold;
}
/*skill container*/
.skills-container{
 display: flex;
 gap: 24px
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06) ;
}